$cyan: hsl(172, 67%, 45%);
$dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$red: hsl(0, 100%, 60%);
$white: hsl(0, 0%, 100%);

$lg: 1440px;
$sm: 375px;

$space-mono: 'Space Mono', monospace;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $space-mono;
  font-weight: 700;
}