@import '../../styles/global.scss';

.bill {
  width: 50%;
  min-width: 400px;
  background-color: $dark-cyan;
  padding: 3em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;

  @media (max-width: $md) {
    padding: 1.5em;
  }

  @media (max-width: $sm) {
    width: 100%;
    min-width: auto;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
  }

  &__type {
    color: $white;
  }

  &__subtitle {
    color: $dark-grayish-cyan
  }

  &__result {
    font-size: 3em;
    color: $cyan;
  }

  &__reset {
    width: 100%;
    background: $cyan;
    padding: 0.5em;
    font-size: 1.5em;
    font-family: $space-mono;
    text-transform: uppercase;
    border-radius: 0.5em;
    border: none;
    transition: 0.3s background-color;
    color: $dark-cyan;
    margin-top: auto;
    cursor: pointer;

    &:hover {
      background-color: $light-grayish-cyan;
    }
  }
}